## locales

# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en-US.UTF-8

d-i debian-installer/language string en-US

d-i debian-installer/country string en-US

# Optionally specify additional locales to be generated.
d-i localechooser/supported-locales string en-US

d-i keyboard-configuration/xkb-keymap string en-US

d-i keyboard-configuration/toggle select No toggling

## Network

# Disable network configuration entirely. This is useful for cdrom installations on non-networked devices where the network questions, warning and long timeouts are a nuisance.
d-i netcfg/enable boolean true

# netcfg will choose an interface that has link if possible. This makes it skip displaying a list if there is more than one interface.
d-i netcfg/choose_interface select auto

# To set a different link detection timeout (default is 3 seconds).
d-i netcfg/link_wait_timeout number 10

# If you have a slow dhcp server and the installer times out waiting for it, this might be useful.
d-i netcfg/dhcp_timeout number 60

# If you have a slow dhcp server and the installer times out waiting for it, this might be useful.
d-i netcfg/dhcpv6_timeout number 60

# Automatic network configuration is the default. If you prefer to configure the network manually.
d-i netcfg/disable_autoconfig boolean true

# If you want the preconfiguration file to work on systems both with and without a dhcp server, uncomment these lines and the static network.
d-i netcfg/dhcp_options select Configure network manually
d-i netcfg/wireless_wep string
d-i netcfg/confirm_static boolean true

# Any hostname and domain names assigned from dhcp take precedence over values set here. However, setting the values still prevents the questions from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string server01

# Any hostname and domain names assigned from dhcp take precedence over values set here. However, setting the values still prevents the questions from being shown, even if values come from dhcp.
d-i netcfg/get_domain string localdomain

# If you want to force a hostname, regardless of what either the DHCP server returns or what the reverse DNS entry for the IP is
d-i netcfg/hostname string server01

# The wacky dhcp hostname that some ISPs use as a password of sorts.
d-i netcfg/dhcp_hostname string server01

# If you want to completely disable firmware lookup (i.e. not use firmware files or packages that might be available on installation images)
d-i hw-detect/firmware-lookup string never

# If non-free firmware is needed for the network or other hardware, you can configure the installer to always try to load it, without prompting. Or change to false to disable asking.
d-i hw-detect/load_firmware boolean false

## mirror

# If you select ftp, the mirror/country string does not need to be set. Default value for the mirror protocol: http.
d-i mirror/protocol select http
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

## accounts

# Skip creation of a root account (normal user account will be able to use sudo)
d-i passwd/root-login boolean true

d-i passwd/root-password-crypted password 5d898baf795504ad6aaceb0a56ef94a57b7564cd1c103cdb67c99ab2dd3137d44bb77d842a6f486034d149b4df52719f18712e298ff9a4221688556d975ba1e5

# Skip creation of a normal user account.
d-i passwd/make-user boolean true

d-i passwd/user-fullname string ar.sis

d-i passwd/username string ardotsis

d-i passwd/user-password-crypted password f23b5db663fabd8ad773f30c92922a596c4a8759be6c78e09a2b5e11a77ebf33cc2bba4100fbfc256703303686a84612b75df0cafcc7fb8ea0e803cd10fc732d

# Create the first user with the specified UID instead of the default.
d-i passwd/user-uid number 1000

# The user account will be added to some standard initial groups. To override that, use this.
d-i passwd/user-default-groups string adm,sudo

## Clock and timezone

# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

d-i time/zone select Europe/Paris

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

# NTP server to use for time synchronization.
d-i clock-setup/ntp-server string ntp.nict.jp

## Partitioning

# If the system has free space you can choose to only partition that space. This is only honoured if partman-auto/method (below) is not set.
d-i partman-auto/init_automatically_partition select all

# If the system has only one disk the installer will default to using that, but otherwise the device name must be given in traditional, non-devfs format (so e.g. /dev/sda and not e.g. /dev/discs/disc0/disc).
d-i partman-auto/disk string /dev/sda

# In addition, you'll need to specify the method to use.
d-i partman-auto/method select crypto

# You can define the amount of space that will be used for the LVM volume group. It can either be a size with its unit (eg. 20 GB), a percentage of free space or the 'max' keyword.
d-i partman-auto-lvm/guided_size string max

# If one of the disks that are going to be automatically partitioned contains an old LVM configuration, the user will normally receive a warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true

# The same applies to pre-existing software RAID array.
d-i partman-md/device_remove_md boolean true

# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true

# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm_nooverwrite boolean true

# You can choose one of the three predefined partitioning recipes.
d-i partman-auto/choose_recipe select atomic

# This makes partman automatically partition without confirmation.
d-i partman-partitioning/confirm_write_new_label boolean true

# This makes partman automatically partition without confirmation.
d-i partman/choose_partition select finish

# This makes partman automatically partition without confirmation.
d-i partman/confirm boolean true

# This makes partman automatically partition without confirmation.
d-i partman/confirm_nooverwrite boolean true

# Force UEFI booting ('BIOS compatibility' will be lost). Default: false.
d-i partman-efi/non_efi_system boolean true

# Ensure the partition table is GPT - this is required for EFI
d-i partman-partitioning/choose_label string gpt

# Ensure the partition table is GPT - this is required for EFI
d-i partman-partitioning/default_label string gpt

# When disk encryption is enabled, skip wiping the partitions beforehand.
d-i partman-auto-crypto/erase_disks boolean true

# This makes partman automatically partition without confirmation.
d-i partman-md/confirm boolean true

# The default is to mount by UUID, but you can also choose "traditional" to use traditional device names, or "label" to try filesystem labels before falling back to UUIDs.
d-i partman/mount_style select uuid

## Base system installation

# Configure APT to not install recommended packages by default. Use of this option can result in an incomplete system and should only be used by very experienced users.
d-i base-installer/install-recommends boolean true

# The kernel image (meta) package to be installed; "none" can be used if no kernel is to be installed.
d-i base-installer/kernel/image string linux-image-amd64

## Apt setup

# Choose, if you want to scan additional installation media (default: false).
d-i apt-setup/cdrom/set-first boolean false

# You can choose to install non-free firmware.
d-i apt-setup/non-free-firmware boolean true

# You can choose to install non-free software.
d-i apt-setup/non-free boolean true

# You can choose to install contrib software.
d-i apt-setup/contrib boolean true

# If you don't want to have the sources.list entry for a DVD/ BD installation image active in the installed system(entries for netinst or CD images will be disabled anyway, regardless of this setting).
d-i apt-setup/disable-cdrom-entries boolean true

# If you don't want to use a network mirror
d-i apt-setup/use_mirror boolean true

# Select which update services to use; define the mirrors to be used. Values shown below are the normal defaults.
d-i apt-setup/services-select string multiselect security, updates

d-i apt-setup/security_host string security.debian.org

# By default the installer requires that repositories be authenticated using a known gpg key. This setting can be used to disable that authentication. Warning: Insecure, not recommended.
d-i debian-installer/allow_unauthenticated boolean true

# To add multiarch configuration for i386
d-i apt-setup/multiarch string i386

## Package selection

#
tasksel tasksel/first multiselect standard

# Individual additional packages to install
d-i pkgsel/include string openssh-server build-essential git zsh

# Whether to upgrade packages after debootstrap.
d-i pkgsel/upgrade select full-upgrade

# You can choose, if your system will report back on what software you have installed, and what software you use. The default is not to report back, but sending reports helps the project determine what software is most popular and should be included on the first CD/DVD.
popularity-contest popularity-contest/participate boolean false

## Boot loader

# This is fairly safe to set, it makes grub install automatically to the UEFI partition/boot record if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# Due notably to potential USB sticks, the location of the primary drive can not be determined safely in general, so this needs to be specified:
d-i grub-installer/bootdev select default

## Finishing

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress boolean true

# This is how to make the installer shutdown when finished, but not reboot into the installed system.
d-i debian-installer/exit/halt boolean true

## Advanced options

# d-i preseeding is inherently not secure. Nothing in the installer checks for attempts at buffer overflows or other exploits of the values of a preconfiguration file like this one. Only use preconfiguration files from trusted locations! To drive that home, and because it's generally useful, here's a way to run any shell command you'd like inside the installer, automatically.
d-i preseed/late_command string curl -fsSL https://df.ardotsis.com | bash -s -- -h vultr
